@forward './reset.css';
@use './_variables.scss' as *;

@font-face {
  font-family: "VitroCore";
  src: local("/fonts/VitroCore.ttf"), url("/fonts/VitroCore.ttf");
  font-style: normal;
}

@font-face {
  font-family: "VitroPride";
  src: local("/fonts/VitroPride.ttf"), url("/fonts/VitroPride.ttf");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "SpoqaHanSansRegular";
  src: local("/fonts/SpoqaHanSansRegular.woff2"),
    url("/fonts/SpoqaHanSansRegular.woff2");
  font-style: normal;
}

html {
  font-size: 62.5%;
}

body {
  font-family: $ui-font;
  font-size: 1.6rem;
}

html,
body,
#__next {
  height: 100%;
}

button {
  display: block;
  font-family: inherit;
  border: none;
}

h1 {
  font-size: 3.6rem;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2.8rem;
}

h4 {
  font-size: 2.4rem;
}

h5 {
  font-size: 2rem;
}

h6,
p,
span {
  font-size: 1.6rem;
}
