@use './colors' as colors;

@mixin neumorphise() {
  background: colors.$primary;
  border-radius: 1rem;
  box-shadow: 2px 2px 8px colors.$shadow1, -2px -2px 8px colors.$shadow2;
}

@mixin neumorphiseHover() {
  background: colors.$primary;
  border-radius: 1rem;
  background: linear-gradient(
    145deg,
    colors.$button-hover-gradient1,
    colors.$button-hover-gradient2
  );
  box-shadow: 2px 2px 8px #8282d9, -2px -2px 8px #b0b0ff;
}
